<strong>Olá, {{ student }}.</strong>
<p>Sua matrícula {{ title }} foi gerada com sucesso!</p>
<p>
  Seu plano entra em vigência no dia <strong>{{ start_date }}</strong>
  e termina do dia <strong>{{ end_date }}</strong>.
  <br />
  O valor final ficou R${{ price }}.
  <br />
  <small>
    Ficamos muito grato por escolher nós. Todos da equipe GymPoint lhe deseja um ótimo treino.
  </small>
</p>
